<h2>Borrow history of {{ user.name }}</h2>
<table class="table table-info table-striped">
  <thead>
    <tr>
      <th> Book ID </th>
      <th> Issue Date </th>
      <th> Return Date </th>
    </tr>
  </thead>
  <tbody>
    @for (borrower of borrow; track borrower) {
      <tr>
        <td> {{ borrower.bookId }} </td>
        <td> {{ borrower.issueDate }} </td>
        @if (borrower.returnDate != null) {
          <div>
            <td> {{ borrower.returnDate }} </td>
          </div>
        }
        @if (borrower.returnDate === null) {
          <div>
            <td> Book not returned yet </td>
          </div>
        }
      </tr>
    }
  </tbody>
</table>