<h2>Livres à retourner</h2>
<table class="table table-success table-striped">
  <thead>
    <tr>
      <th> ID Livre </th>
      <th> Date d'emprunt </th>
      <th> Date de retour </th>
      <th> Date limite </th>
      <th> Action </th>
    </tr>
  </thead>
  <tbody>
    @for (b of borrow; track b) {
      <tr>
        <td> {{ b.bookId }} </td>
        <td> {{ b.issueDate }} </td>
        <td> {{ b.returnDate }} </td>
        <td> {{ b.dueDate }} </td>
        <td>
          @if (b.returnDate === null) {
            <div>
              <button (click) = "returnBook(b.borrowId)" class="btn btn-success"> Retourner </button>
            </div>
          }
        </td>
      </tr>
    }
  </tbody>
</table>
