<h2>Liste des utilisateurs</h2>
<table class="table table-success table-striped">
  <thead>
    <tr>
      <th> ID </th>
      <th> Nom </th>
      <th> Nom d'utilisateur </th>
      <th> Rôle </th>
      <th> Historique </th>
      <th> Modifier </th>
    </tr>
  </thead>
  <tbody>
    @for (user of users; track user) {
      <tr>
        <td> {{ user.userId }} </td>
        <td> {{ user.name }} </td>
        <td> {{ user.username }} </td>
        <td> {{ user.role[0].roleName }} </td>
        <td>
          @if (user.role[0].roleName === 'User') {
            <div>
              <button (click) = "userDetails(user.userId)" class="btn btn-success"> Voir </button>
            </div>
          }
        </td>
        <td>
          <button (click) = "updateUser(user.userId)" class="btn btn-info"> Modifier </button>
        </td>
      </tr>
    }
  </tbody>
</table>
