<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" style="color: rgb(241, 223, 223);" href="#">Library Management System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            @if (userService.roleMatch(['Admin'])) {
              <a routerLink="/books" routerLinkActive="active" class="nav-link">Book List</a>
            }
          </li>

          <li class="nav-item">
            @if (userService.roleMatch(['Admin'])) {
              <a routerLink="/create-book" routerLinkActive="active" class="nav-link">Add Book</a>
            }
          </li>

          <li class="nav-item">
            @if (userService.roleMatch(['Admin'])) {
              <a routerLink="/users" routerLinkActive="active" class="nav-link">User List</a>
            }
          </li>

          <li class="nav-item">
            @if (userService.roleMatch(['Admin'])) {
              <a routerLink="/register-user" routerLinkActive="active" class="nav-link">Register User</a>
            }
          </li>

          <li class="nav-item">
            @if (userService.roleMatch(['User'])) {
              <a routerLink="/borrow-book" routerLinkActive="active" class="nav-link">Borrow Books</a>
            }
          </li>

          <li class="nav-item">
            @if (userService.roleMatch(['User'])) {
              <a routerLink="/return-book" routerLinkActive="active" class="nav-link">Return Books</a>
            }
          </li>

          @if (isLoggedIn()) {
            <li class="nav-item right-text">
              <div class="nav-link disabled text-right">
                <strong>
                  Hey {{name}}
                </strong>
              </div>
            </li>
          }

        </ul>
        @if (!isLoggedIn()) {
          <button type="button" class="btn btn-success" routerLink="/login">Login</button>
        }
        @if (isLoggedIn()) {
          <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
        }
      </div>
    </div>
  </nav>
</header>