<h2>Livres disponibles à l'emprunt</h2>
<table class="table table-success table-striped">
  <thead>
    <tr>
      <th> ID </th>
      <th> Titre </th>
      <th> Auteur </th>
      <th> Genre </th>
      <th> Copies disponibles </th>
      <th> Actions </th>
    </tr>
  </thead>
  <tbody>
    @for (book of books; track book) {
      <tr>
        <td> {{ book.bookId }} </td>
        <td> {{ book.bookName }} </td>
        <td> {{ book.bookAuthor }} </td>
        <td> {{ book.bookGenre }} </td>
        <td> {{ book.noOfCopies }} </td>
        <td>
          <button (click) = "borrowBook(book.bookId)" class="btn btn-success"> Emprunter </button>
        </td>
      </tr>
    }
  </tbody>
</table>
