<h2>Liste des livres</h2>
<table class="table table-success table-striped">
  <thead>
    <tr>
      <th> ID </th>
      <th> Titre </th>
      <th> Auteur </th>
      <th> Genre </th>
      <th> Copies disponibles </th>
      <th> Actions </th>
    </tr>
  </thead>
  <tbody>
    @for (book of books; track book) {
      <tr>
        <td> {{ book.bookId }} </td>
        <td> {{ book.bookName }} </td>
        <td> {{ book.bookAuthor }} </td>
        <td> {{ book.bookGenre }} </td>
        <td> {{ book.noOfCopies }} </td>
        <td>
          <button (click) = "bookDetails(book.bookId)" class="btn btn-success"> Voir </button>
          <button (click) = "updateBook(book.bookId)" class="btn btn-info"  style="margin-left: 10px"> Modifier </button>
          <button (click) = "deleteBook(book.bookId)" class="btn btn-danger" style="margin-left: 10px"> Supprimer </button>
        </td>
      </tr>
    }
  </tbody>
</table>