<h2>Historique d'emprunt de {{ book.bookName }}</h2>
<table class="table table-info table-striped">
  <thead>
    <tr>
      <th> ID Utilisateur </th>
      <th> Date d'emprunt </th>
      <th> Date de retour </th>
    </tr>
  </thead>
  <tbody>
    @for (borrower of borrow; track borrower) {
      <tr>
        <td> {{ borrower.userId }} </td>
        <td> {{ borrower.issueDate }} </td>
        @if (borrower.returnDate != null) {
          <div>
            <td> {{ borrower.returnDate }} </td>
          </div>
        }
        @if (borrower.returnDate === null) {
          <div>
            <td> Pas encore retourné </td>
          </div>
        }
      </tr>
    }
  </tbody>
</table>
